extends layout

block content

  h1(class="text-center font-weight-bold text-dark my-3") Category: #{category.name}
  
  div(style='margin-left:20px;margin-top:20px')

    p #[strong Description:] #{category.description}
    h3(class="my-3") Items in this category:
    each val in category_item
      li(class="list-group-item list-group-item-success w-50 ") 
        a(href=val.url class="text-success") #{val.name}
  hr
  p
    a(href=category.url+'/delete' class="btn btn-success") Delete Category
  p
    a(href=category.url+'/update' class="btn btn-success") Update Category