extends layout

block content

  h1(class="text-center font-weight-bold text-dark my-3") Item: #{item.name}
  
  div(style='margin-left:20px;margin-top:20px')

    p #[strong Description:] #{item.description}
    p #[strong Stock:]  #{item.stock}
    p #[strong Price:]  #{item.price} $
    if item.imageUrl
      img(src=item.imageUrl)
    p #[strong Categories:]  
      each val, index in item.categorie
        a(href=val.url) #{val.name}
        if index < item.categorie.length - 1
          |, 
    
  hr
  p
    a(href=item.url+'/delete' class="btn btn-success ml-4") Delete Item
  p
    a(href=item.url+'/update' class="btn btn-success ml-4") Update Item